.artwork-decorative {
  fill: var(--color-primary-subtle);
}

.artwork-minor {
  fill: var(--color-secondary);
}

.artwork-major {
  fill: var(--color-primary);
}

.artwork-text {
  fill: var(--color-base-content);
}

.artwork-background {
  fill: var(--color-base-200);
}

.artwork-motif {
  fill: var(--color-base-300);
}

.artwork-content {
  fill: var(--color-primary-content);
}
