.input {
  border: none;
  font-size: 16px;
  border-bottom: 2px solid var(--color-primary);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  button:last-child {
    border-top-right-radius: var(--radius-field);
  }
}

::placeholder {
  font-style: italic;
}
