NODE_ENV: "development"

PROTOCOL="http"
HOSTNAME="localhost"
PORT="3000"

NEXT_PUBLIC_APP_NAME: "Lieux d’inclusion numérique"
NEXT_ASSET_PREFIX=""
NEXT_PUBLIC_BASE_PATH: ""

INCLUSION_NUMERIQUE_API_TOKEN=""

NEXT_PUBLIC_MATOMO_URL=""
NEXT_PUBLIC_MATOMO_SITE_ID=""

CACHE_RESET_TOKEN=""

SMTP_HOST="localhost"
SMTP_PORT="1025"
SMTP_USER="dev"
SMTP_PASS="dev"
CONTACT_EMAIL_TO="cartographie.sonum@anct.gouv.fr"
CONTACT_EMAIL_FROM="ne-pas-repondre@cartographie.anct.gouv.fr"
