NODE_ENV: "development"

PROTOCOL="http"
HOSTNAME="localhost"
PORT="3000"

NEXT_PUBLIC_APP_NAME: "Lieux d’inclusion numérique"
NEXT_ASSET_PREFIX=""
NEXT_PUBLIC_BASE_PATH: ""

INCLUSION_NUMERIQUE_API_TOKEN=""

NEXT_PUBLIC_MATOMO_URL=""
NEXT_PUBLIC_MATOMO_SITE_ID=""

NEXT_PUBLIC_SENTRY_DSN=""
NEXT_PUBLIC_SENTRY_ENVIRONMENT=""

SENTRY_ORG=""
SENTRY_PROJECT=""
SENTRY_AUTH_TOKEN=""

CACHE_RESET_TOKEN=""

SMTP_HOST="localhost"
SMTP_PORT="1025"
SMTP_USER="dev"
SMTP_PASS="dev"
CONTACT_EMAIL_TO="carto@inclusion-numerique.anct.gouv.fr"
CONTACT_EMAIL_FROM="noreply@inclusion-numerique.anct.gouv.fr"
