@import "tailwindcss";
@import "./components/components.css";

@plugin "tailwindcss-animate";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
  root: ":root";
  logs: false;
}

@theme {
  --color-base-400: oklch(82% 0.01 260);
  --color-base-title: oklch(18% 0.02 260);
  --color-primary-high: oklch(45% 0.24 255);
  --color-primary-low: oklch(55% 0.2 255);
  --color-primary-subtle: oklch(94% 0.04 255);
  --color-primary-subtle-high: oklch(90% 0.06 255);
  --color-primary-subtle-low: oklch(86% 0.08 255);
  --color-info-low: oklch(96% 0.03 245);
  --color-input: oklch(96% 0.005 260);
  --color-navbar: oklch(100% 0 0);
  --color-focus: oklch(58% 0.24 255);
  --bage-padding-y: 0rem;
  --bage-padding-x: 0.3rem;
  --bage-radius: 0.2rem;
  --tag-padding-y: 0.25rem;
  --tag-padding-x: 0.5rem;
  --tag-radius: 0.25rem;
  --card-p: 1.25rem 1rem;
  --indicator-x: 4px;
  --indicator-y: -4px;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-100: oklch(99% 0.005 260);
  --color-base-200: oklch(50% 0.22 255);
  --color-base-300: oklch(91% 0.008 260);
  --color-base-400: oklch(82% 0.01 260);
  --color-base-title: oklch(18% 0.02 260);
  --color-base-content: oklch(25% 0.015 260);
  --color-primary: oklch(50% 0.22 255);
  --color-primary-content: oklch(98% 0 0);
  --color-primary-high: oklch(45% 0.24 255);
  --color-primary-low: oklch(55% 0.2 255);
  --color-primary-subtle: oklch(94% 0.04 255);
  --color-primary-subtle-high: oklch(90% 0.06 255);
  --color-primary-subtle-low: oklch(86% 0.08 255);
  --color-secondary: oklch(0.771 0.12 247.607);
  --color-secondary-content: oklch(98% 0 0);
  --color-accent: oklch(58% 0.14 195);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(28% 0.02 260);
  --color-neutral-content: oklch(98% 0 0);
  --color-success: oklch(68% 0.19 150);
  --color-success-content: oklch(22% 0.06 150);
  --color-warning: oklch(78% 0.16 75);
  --color-warning-content: oklch(25% 0.08 60);
  --color-error: oklch(58% 0.22 20);
  --color-error-content: oklch(98% 0 0);
  --color-info: oklch(62% 0.18 245);
  --color-info-content: oklch(22% 0.06 245);
  --color-info-low: oklch(96% 0.03 245);
  --color-input: oklch(0.96 0.019 263.009);
  --color-navbar: oklch(100% 0 0);
  --color-focus: oklch(58% 0.24 255);
  --radius-selector: 0.25rem;
  --radius-box: 0.25rem;
  --text-sm--line-height: 1.5rem;
  --text-xl--line-height: 2rem;
  --depth: 0;
  --noise: 0;
}
